<html ng-app="sampleApp">
	<head>
	</head>

	<body ng-controller="IndexController">
		<label>Please enter your name: </label>
		<input ng-model="currentCustomer.name"/>
		<button ng-click="join()">Join</button>
		<br/>

		<input type="button" id="create" value="Click here" onclick="Javascript:emit()">
		<h1>New Customers: </h1>
		<ul>
			<li ng-repeat="customer in newCustomers">{{customer}}</li>
		</ul>

		<script src="/socket.io/socket.io.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
		<script src="lobby-client.js"></script>
	</body>

</html>
