<div class="col-sm-6">
	<div  class="well">
		<form id=myForm action="/general_lobby" method="post">
			<br>
			Available games:
			<select id="typevalue" style="float:right", name="type">
				<% var ugly2=games%>
				<% for (i=0; i < ugly2.length; i++) { %>
				<option value="<%= i %>"><%=ugly2[i].game+"("+ugly2[i].players+" player)"%></option>    
				<%}%>
			</select>
			</br>
			<br>
			Game name:
			<input id="gamename" style="float:right" type="text" name="name">
			</br>
			<br>
			<input id="gameid" type="hidden" name="gameid" value="Norway">
			Password:
			<input id="password" style="float:right" type="password" name="pass">
			</br>
			<br>
			<button style="float:right" type="button" onclick=game_create()>Create Game!</button>
			</br>

		</form>
	</div>
</div>
<div class="col-sm-6">
	<div class="well text-left">
	Info about the game
	</div>


	<script>
	function game_create() {
	socket.emit("get uuid");
	};

	socket.on('send uuid', function( data )
	{
	document.getElementById("gameid").value = data;
	console.log(data);
		var key1 = "gameid";
		var key2 = "gametype";
		var key3 = "gamename";
		var key4 = "password";
		var obj = {};
			obj[key1] = data;
			obj[key2] = document.getElementById("typevalue").value;
			obj[key3] = document.getElementById("gamename").value;
			obj[key4] = document.getElementById("password").value;
	socket.emit("new game", obj);
	document.getElementById("myForm").submit();
	});
	
	</script>

</div>
