<html ng-app="sampleApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
		<style>
body        { padding-top:80px; }
		</style>
	</head>

	<body ng-controller="IndexController">
		<script src="/socket.io/socket.io.js"></script>
		<script type='text/javascript'>
		socket.emit("player_login", ugly.user_name);
		</script>
		<style>
body        { padding-top:80px; word-wrap:break-word; }
		</style>
	</head>
	<body>
		HI, this is the game lobby
	</body>
</html>

