<!-- LOCAL INFORMATION -->
<div class="col-sm-6">
	<div class="well">
		<h3><span class="fa fa-cogs"></span> Local</h3>

		<p>
		<strong>id</strong>: <%= user.user_id %><br>
		<strong>email</strong>: <%= user.user_email %><br>
		<strong>password</strong>: <%= user.user_pass %>
		</p>

	</div>
</div>
